@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Ubuntu", Roboto, sans-serif;
}

/* html,
  body,
  div,
  textarea,
  input {
    scrollbar-width: thin;
  } */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeeec0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888b1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6e6e6ec0;
}

::-webkit-scrollbar-thumb:active {
  background: #5f5f5f;
}

@supports not selector(::-webkit-scrollbar) {
  html,
  body,
  div,
  textarea,
  input {
    scrollbar-width: thin;
  }
}
